<div class="welcome-message">
  <h2>Bem-vindo, {{ loggedDeliveryPersonName || 'Entregador' }}!</h2>

  <!-- Se houver uma entrega ativa -->
  <div *ngIf="activeDelivery">
    <h3>Entrega Ativa</h3>
    <app-delivery-card
      [entrega]="activeDelivery"
      [showActions]="false"
      [showConcludeButton]="true"
      (concluir)="completeDelivery()">
    </app-delivery-card>
  </div>

  <!-- Se não houver entrega ativa, exibe as entregas disponíveis -->
  <div *ngIf="!activeDelivery">
    <h3>Entregas Disponíveis</h3>
    <app-delivery-card
      *ngFor="let delivery of deliveries"
      [entrega]="delivery"
      [showActions]="true"
      [showConcludeButton]="false"
      (concluir)="assignDelivery(delivery)">
    </app-delivery-card>
  </div>

  <button (click)="goToMyOrders()">Ver Histórico de Entregas</button>
</div>
