<div class="welcome-message">
  <h2>Bem-vindo, {{ loggedDeliveryPersonName || 'Entregador' }}!</h2>

  <!-- Se houver uma entrega ativa -->
  <div *ngIf="activeDelivery">
    <h3>Entrega Ativa</h3>
    <p><strong>De:</strong> {{ activeDelivery.customerName }}</p>
    <p><strong>Endereço:</strong>
      {{ activeDelivery.address.street }}, {{ activeDelivery.address.number }} -
      {{ activeDelivery.address.district }} -
      {{ activeDelivery.address.city }} - {{ activeDelivery.address.state }} |
      CEP: {{ activeDelivery.address.postalCode }}
    </p>
    <button (click)="completeDelivery()">Finalizar Entrega</button>
  </div>

  <!-- Se não houver entrega ativa, exibe as entregas disponíveis -->
  <div *ngIf="!activeDelivery">
    <h3>Entregas Disponíveis</h3>
    <div *ngFor="let delivery of deliveries">
      <p>
        <strong>{{ delivery.customerName }}</strong> -
        {{ delivery.address.street }}, {{ delivery.address.number }} -
        {{ delivery.address.district }}, {{ delivery.address.city }} -
        {{ delivery.address.state }} | CEP: {{ delivery.address.postalCode }}
      </p>
      <button (click)="assignDelivery(delivery)">Aceitar Entrega</button>
    </div>
  </div>
  <button (click)="goToMyOrders()">Ver Histórico de Entregas</button>
</div>
