<div class="container">
  <h1 class="title">Bem-vindo à Plataforma de Entregas Locais</h1>

  <div class="cards">
    <div class="card">
      <h2>Lojista</h2>
      <button routerLink="/merchant/login">Entrar</button>
      <button routerLink="/merchant/register">Cadastrar</button>
    </div>

    <div class="card">
      <h2>Cliente</h2>
      <button routerLink="/customer/login">Entrar</button>
      <button routerLink="/customer/register">Cadastrar</button>
    </div>

    <div class="card">
      <h2>Entregador</h2>
      <button routerLink="/delivery/login">Entrar</button>
      <button routerLink="/delivery/register">Cadastrar</button>
    </div>
  </div>
</div>

<button routerLink="/delivery/map">Ver Mapa</button>
